<ng-template #detail>
        <h2>{{smoothie.title}}</h2>
        <div>{{smoothie.advice}}</div>
        <mat-tab-group dynamicHeight>
            <mat-tab label="Description">
              <div class="example-small-box mat-elevation-z4">
                <p>{{smoothie.description}}</p>
                <p>Coût : {{smoothie.features.cost}}</p>
                <p>Temps de préparation : {{ smoothie.features.prepareTime}}</p>
              </div>
            </mat-tab>
            <mat-tab label="Ingrédients">
              <ul class="example-large-box mat-elevation-z4" *ngFor="let ingredient of smoothie.ingredients">
                <li>
                    {{ingredient.nom}} :  {{ingredient.quantite}}
                </li>
            </ul>
            </mat-tab>
            <mat-tab label="Etapes">
                    <ul class="example-large-box mat-elevation-z4" *ngFor="let step of smoothie.steps">
                      <li>
                          {{step.stepText}} 
                      </li>
                  </ul>
                  </mat-tab>
        
                  <mat-tab label="Image">
                    <div class="example-small-box mat-elevation-z4">
                            <img mat-card-image src="{{urlImg}}{{smoothie.photo}} " alt="Photo de {{smoothie.title}}">
                    </div>
                </mat-tab>
          </mat-tab-group>
</ng-template>
<ng-container *ngTemplateOutlet="smoothie ? detail : '' "></ng-container> <!-- permet que le ng-template plus haut se charge quand data recu -->