<h1>{{title | uppercase}}</h1> <!-- title declarer dans dashboard.component.ts-->
<h2>{{subTitle}}</h2>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Smoothie" [(ngModel)]="smoothie" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-checkbox color="primary">Are you sure ?</mat-checkbox>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Valider</mat-button-toggle>
      </mat-button-toggle-group>
  </form>

<div>
    <p>{{smoothie}}</p>
</div>

